In [1]:
import sqlite3
import pandas as pd

In [2]:
db = sqlite3.connect('db.sqlite3')

In [12]:
df= pd.read_sql_query("select * from django_session", db)

In [13]:
df

,session_key,session_data,expire_date
0,owen8mcllp08yujyt86m1lckn2ut7sqh,ZTVjMmFhNTk4NmQ1YjIyOTY1YWI1M2ViNDQ5NGQ3NzYzZT...,2018-04-20 11:37:15.606636
1,5kzla0bpipqleq1ykxrpjvcigrbkvcqh,ZTVjMmFhNTk4NmQ1YjIyOTY1YWI1M2ViNDQ5NGQ3NzYzZT...,2018-04-20 11:52:12.322333
2,jzywuip7oiu7ox8pqkq97n06630pcsgm,ZTVjMmFhNTk4NmQ1YjIyOTY1YWI1M2ViNDQ5NGQ3NzYzZT...,2018-04-20 11:52:43.270830
3,330guubo4ym6gefblygonqoz3t53io2w,ZTVjMmFhNTk4NmQ1YjIyOTY1YWI1M2ViNDQ5NGQ3NzYzZT...,2018-04-20 11:53:02.706916
4,kmd0gvtix3td0gwt0x8j43g8wevhw897,NTljYmFlNzA3MTliNzVhNTFjNTQ3Zjc2MzE2M2UxY2MyZW...,2018-05-04 08:11:35.461114