# Basic ORM

```sh
python manage.py shell_plus --notebook
```

# Create a Class diagrage
To create a diagram please read a documents of django-extensions [here](http://django-extensions.readthedocs.io/en/latest/graph_models.html).

```sh
python ./manage.py graph_models --pydot -a -g -o others/classdiagram.png

```

# select all cars

In [1]:
Car.objects.all()
#ORM: Object Relational mapping

In [2]:
print(Car.objects.all().query)

SELECT "myapp_car"."id", "myapp_car"."model", "myapp_car"."detail", "myapp_car"."price" FROM "myapp_car"

In [3]:
for i in Car.objects.all():
    print(i.model, i.detail, i.price)

Vios medium price 500000
Camry High price 800000
Jazz low price entry car 400000

# get a car by id

In [4]:
Customer.objects.get(id=1)

# get cars by filter

In [5]:
Car.objects.filter(price__lte=500000)

In [6]:
Car.objects.filter(price=500000)

In [7]:
Car.objects.filter(price__gt=500000)

In [8]:
print( Car.objects.filter(price__gte=500000).query )

SELECT "myapp_car"."id", "myapp_car"."model", "myapp_car"."detail", "myapp_car"."price" FROM "myapp_car" WHERE "myapp_car"."price" >= 500000

# Relation
ORM can resolve forward and reward relation

## Car
<img src="others/car.png",width=500>

## Customer
<img src="others/customer.png",width=500>

## Rent
<img src="others/rent.png",width=500>

In [9]:
Rent.objects.get(id=2).car

In [10]:
Rent.objects.get(id=2).customer

In [11]:
Rent.objects.filter(car__price__lte=400000)

In [12]:
Rent.objects.filter(car__price__lte=500000)

In [13]:
Rent.objects.filter(car__price__lte=500000, customer__first_name='Albert') #AND conjuntion